.apple-com-by-html-to {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  padding: 0px 0px 9.09e-13px;
  position: relative;
}

.apple-com-by-html-to .body-paints {
  position: absolute;
  width: 1920px;
  height: 5527px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(29, 29, 31) 0.8%, rgb(255, 255, 255) 0.8%);
}

.apple-com-by-html-to .main {
  position: relative;
  max-width: 2560px;
  width: 1920px;
  flex: 0 0 auto;
}

.apple-com-by-html-to .footer {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  align-items: center;
  padding: 0px 448px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--applecomathens-gray);
}

.apple-com-by-html-to .div-ac-gf-content {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  width: 980px;
  align-items: flex-start;
  padding: 0px 22px;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .section-footnotes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--applecomblack-16);
}

.apple-com-by-html-to .list {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 9.6px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  align-items: flex-start;
  position: relative;
}

.apple-com-by-html-to .item {
  padding: 0px 0.27px 9.6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .element-trade-in-values {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -31.27px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-56);
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
}

.apple-com-by-html-to .available-in-the-u-s-wrapper {
  padding: 0px 543.8px 9.6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .available-in-the-u-s {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -37.8px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .text-wrapper {
  color: #0000008f;
  letter-spacing: -0.01px;
}

.apple-com-by-html-to .span {
  color: #000000b8;
  letter-spacing: -0.01px;
  text-decoration: underline;
}

.apple-com-by-html-to .to-access-and-use-wrapper {
  padding: 0px 20.19px 9.6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .to-access-and-use {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -33.19px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-56);
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
}

.apple-com-by-html-to .div-wrapper {
  padding: 0px 351.66px 9.6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -43.66px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-56);
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .learn-more-about-how-wrapper {
  padding: 0px 439.45px 9.6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .learn-more-about-how {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -38.45px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .item-2 {
  padding: 0px 755.67px 9.6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -44.67px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-56);
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .navigation-apple {
  display: flex;
  align-items: flex-start;
  padding: 20px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 2.84e-13px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-2 {
  display: flex;
  gap: 9.59px;
  padding: 0px 20px 0px 0px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 86.03px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--applecomblack-88);
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .list-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.6px;
  padding: 0px 0px 3.98e-13px;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-72);
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-72);
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-72);
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .listitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 119.94px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-3 {
  gap: 9.59px;
  padding: 24px 20px 0px 0px;
  margin-top: -2.27e-13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-2 {
  padding: 0px 103.37px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .list-3 {
  display: inline-flex;
  flex-direction: column;
  gap: 9.6px;
  flex: 0 0 auto;
  align-items: flex-start;
  position: relative;
}

.apple-com-by-html-to .text-wrapper-6 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-72);
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
  position: relative;
}

.apple-com-by-html-to .link-apple-cash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 112.64px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-4 {
  display: inline-flex;
  padding: 0px 0px 76.79px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-3 {
  padding: 0px 128.08px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .link-icloud-com-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 113.56px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-5 {
  gap: 9.59px;
  padding: 24px 20px 0px 0px;
  margin-top: -2.56e-13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-4 {
  padding: 0px 93.69px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .link-app-store-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 120.7px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-wrapper {
  display: inline-flex;
  padding: 0px 0px 142.38px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-5 {
  padding: 0px 108.11px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .link-shopping-help-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 94.33px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-6 {
  display: inline-flex;
  padding: 0px 0px 47.97px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-7 {
  gap: 9.59px;
  padding: 0px 20px 0.01px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-6 {
  padding: 0px 101.98px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .list-4 {
  display: inline-flex;
  flex-direction: column;
  gap: 9.59px;
  flex: 0 0 auto;
  align-items: flex-start;
  position: relative;
}

.apple-com-by-html-to .link-shop-for-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 75.98px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-8 {
  gap: 9.6px;
  padding: 24px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-7 {
  padding: 0px 96.17px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .listitem-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 83.53px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-9 {
  gap: 9.59px;
  padding: 24px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-8 {
  padding: 0px 90.69px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .link-health-records-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32.84px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-9 {
  padding: 0px 82.89px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .listitem-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 8.7px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-10 {
  display: inline-flex;
  padding: 0px 0px 25.6px;
  margin-right: -46.7px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-10 {
  padding: 0px 101px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .link-supplier-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 49.98px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .div-ac-gf-directory-11 {
  gap: 9.6px;
  padding: 24px 20px 0px 0px;
  margin-top: -0.01px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .heading-11 {
  padding: 0px 104.37px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .link-contact-apple-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 96.7px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.apple-com-by-html-to .section {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 126px;
}

.apple-com-by-html-to .div-ac-gf-footer {
  flex-direction: column;
  width: 936px;
  max-height: 9999px;
  align-items: flex-start;
  padding: 0px 472.89px 20px 0px;
  top: 37px;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--applecomblack-16);
  display: flex;
  position: absolute;
}

.apple-com-by-html-to .more-ways-to-shop {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -36.89px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .text-wrapper-7 {
  color: #0066cc;
  letter-spacing: -0.01px;
  text-decoration: underline;
}

.apple-com-by-html-to .overlap-group {
  position: absolute;
  width: 936px;
  height: 26px;
  top: 86px;
  left: 0;
}

.apple-com-by-html-to .div-ac-gf-footer-2 {
  width: 936px;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  padding: 0px 264.21px 5px 0px;
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
}

.apple-com-by-html-to .div-ac-gf-footer-3 {
  display: flex;
  flex-direction: column;
  width: 266.52px;
  max-height: 9999px;
  align-items: flex-start;
  position: relative;
  margin-left: -22px;
}

.apple-com-by-html-to .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.48px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-56);
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .list-5 {
  display: flex;
  width: 419.27px;
  gap: 9.3px;
  padding: 5px 15.01px 0px 0px;
  margin-right: -22px;
  align-items: flex-start;
  position: relative;
}

.apple-com-by-html-to .listitem-4 {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 9px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .after {
  position: absolute;
  width: 1px;
  height: 10px;
  top: 3px;
  left: 86px;
  background-color: var(--applecomblack-48);
}

.apple-com-by-html-to .after-2 {
  left: 82px;
  position: absolute;
  width: 1px;
  height: 10px;
  top: 3px;
  background-color: var(--applecomblack-48);
}

.apple-com-by-html-to .after-3 {
  left: 112px;
  position: absolute;
  width: 1px;
  height: 10px;
  top: 3px;
  background-color: var(--applecomblack-48);
}

.apple-com-by-html-to .after-4 {
  left: 39px;
  position: absolute;
  width: 1px;
  height: 10px;
  top: 3px;
  background-color: var(--applecomblack-48);
}

.apple-com-by-html-to .link-united-states-wrapper {
  flex-direction: column;
  width: 31px;
  align-items: flex-start;
  top: 5px;
  left: 905px;
  display: flex;
  position: absolute;
}

.apple-com-by-html-to .link-united-states {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -43.83px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--applecomblack-72);
  font-size: 11.8px;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
}

.apple-com-by-html-to .nav-global {
  display: flex;
  flex-direction: column;
  width: 1920px;
  max-height: 44px;
  height: 44px;
  align-items: center;
  padding: 0px 448px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--applecomwoodsmoke-80);
  backdrop-filter: blur(20px) brightness(100%);
  -webkit-backdrop-filter: blur(20px) brightness(100%);
}

.apple-com-by-html-to .div-globalnav {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 1024px;
  align-items: flex-start;
  padding: 0px 14px;
  position: relative;
  flex: 0 0 auto;
}

.apple-com-by-html-to .list-6 {
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 0px 0.17px 0px 0px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

.apple-com-by-html-to .img-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.apple-com-by-html-to .img {
  align-self: stretch;
  height: 44px;
  object-fit: cover;
  position: relative;
}

.apple-com-by-html-to .item-list-link-store {
  width: 46px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-mac {
  width: 39px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-ipad {
  width: 40px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link {
  width: 54px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-watch {
  width: 51px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-2 {
  width: 50px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-3 {
  position: relative;
  width: 59px;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-TV {
  position: relative;
  width: 81px;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-4 {
  width: 93px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-5 {
  width: 83px;
  position: relative;
  height: 44px;
  object-fit: cover;
}

.apple-com-by-html-to .item-list-link-6 {
  width: 60px;
  position: relative;
  height: 44px;
  object-fit: cover;
}
